node_modules/  
bot-whatsapp/node_modules/  
sessions/  
auth_*  
logs/  
.env  
.env.local  
*.log  
.DS_Store  
Thumbs.db  
.vscode/  
__pycache__/  
*.pyc  
dist/  
build/  
data/uploads/*  
Library/  
Temp/  
UserSettings/  
*.bak  
bot-whatsapp/sessions/  
bot-whatsapp/.wwebjs_auth/  
bot-whatsapp/.wwebjs_cache/  
bot-whatsapp/npm  
bot-whatsapp/git  
